.movie-time-banner{
    background: url(/assets/default/horizontal-poster.png);
    height: 350px;
    background-size: cover;
}
.banner-show-movie {
    position: relative;
}
.movie-times-details {
    background: #fff;
    box-shadow: 0px 4px 4px #00000047;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: -25px;
    width: 100% ;
}

.movie-times-details h2 {
    font-size: 32px;
    font-weight: 900;
}
.movie-time-ua {
    display: inline-block;
}
.movie-time-ua ul li {
    list-style: none;
    float: left;
    margin-left: 0px;
    font-size: 14px;
}
.movie-time-ua ul li::after {
    content: "|";
    background: #000;
    display: inline-block;
    transform: rotate(180deg);
    margin: 0px 8px;
    font-size: 5px;
    padding-top: 4px;
}
.movie-times-details p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}
.seat-movie-time {
   display: inline-block;
   margin-bottom: 0px;
}
.seat-movie-time ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
    background: #dcefff;
    padding: 4px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: 600;
}
.ptb-80 {
    padding: 80px 0px 80px 0px;
}
.title-head h6 {
    margin-bottom: 3px;
    font-size: 12px;
    color: #7A7A7A;
}

.ticket-count p {
    font-size: 14px;
    margin-bottom: 10px;
}

.ticket-price p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: right;
}

.veg-movir-time {
    margin-right: 7px;
}
.payment-divider-movie-time {
    background: #F1F1F1;
    width: 100%;
    height: 3px;
    margin: 10px 0px;
}
.payment-dashed-movie-time {
    border: 1.3px dashed #F1F1F1;
    margin: 8px 0px;
}
.remove-movie-time {
    color: #DD0000;
    font-weight: 500 !important;
}
.cut-price-movie-time {
    color: #1A8C2D;
    text-decoration: line-through;
    margin-right: 18px;
}

.payment-method-movie-time {
    border: 1px solid #1968A8;
    border-radius: 10px;
}
.topaid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DCEFFF;
    padding: 12px 15px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #1968A8;
}
.paid h6 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}

.price-paid p {
    font-size: 14px;
    margin-bottom: 0;
}
.payment-voucer {
    padding: 12px 15px;
}
.select-method {
    padding: 12px 15px;
}
.select-method h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.payment-movie-time .p-accordion .p-accordion-header .p-accordion-header-link{
    background: #fff !important;
    border-bottom: 2px solid #F1F1F1 !important;
    border: none;
    border-radius: 0px;
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 14px;
}
.payment-movie-time .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link{
    background: #fff !important;
    border-bottom: 2px solid #F1F1F1 !important;
}
.payment-movie-time .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    box-shadow: none;
}
.payment-movie-time .p-accordion .p-accordion-content{
    border: none;
    padding: 10px 0px;
}
.payment-movie-time .p-icon{
    position: absolute;
    right: 0px;
}
.enter-promocode {
    border: 0.1px solid #1968A8;
    padding: 10px 15px;
}
.enter-promocode .p-inputtext:enabled:hover{
    border: none;
    font-family: "Lato", sans-serif;
}
.enter-promocode .p-inputtext:enabled:focus{
    border: none;
    border-color:#DDDDDD ;
    box-shadow: none;
    font-family: "Lato", sans-serif;
}
.enter-promocode input {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.movie-time-card {
    background: #C0E1FC;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription h5 {
    font-weight: 900;
    color: #00457D;
    font-size: 14px;
    margin-bottom: 10px;
}

.red-voucher-number p {
    background: #CC1821;
    color: #fff;
    display: inline-block;
    padding: 0px 8px;
}

.subscription h6 {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 0px;
    color: #00457d;
}

.redmeed-point {
    border: 1px solid #1968A8;
    padding: 10px 15px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 4px;
    display: flex;
}
.redmee-movie-time p {
    margin-left:10px;
    color: #000;
    margin-bottom: 0px;
}
.check-box-circle .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #1EA234 !important;
    background: #1EA234 !important;
   
}
.check-box-circle .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
    box-shadow: none !important;
}
.check-box-circle .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
    border-color: #DDDDDD;
}
.check-box-circle .p-checkbox .p-checkbox-box{
    border-radius: 50% !important;
}
.check-box-circle .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
    border-color: #DDDDDD;
}
.passport-voucher-card {
    display: flex;
    padding: 0px 15px;
    overflow-x: scroll;
    width: 100%;
}
.passport-voucher-card::-webkit-scrollbar {
    width: 10px;
  }
.movie-time-voucher-pass {
    flex: 0 0 auto;
    margin: 0;
    width: 50%;
    margin-right: 11px;
}

.paytm {
    border: none;
    background: #CC1821;
    padding: 8px 10px;
    width: 100%;
    color: #fff;
    font-family: 'Lato';
    border-radius: 4px;
}

.upi input {
    width: 100%;
    font-family: 'Lato';
    font-size: 14px;
    margin-bottom: 10px;
}

.upi p {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}
.upi .p-inputtext:enabled:hover{
    border-color: #DDDDDD;
}
.upi .p-inputtext:enabled:focus{
    border-color: #DDDDDD !important;
    box-shadow: none !important;
}
.net-banking .p-dropdown {
    width: 100%;
    font-family: 'Lato';
}
.net-banking .p-dropdown:not(.p-disabled):hover {
    border-color: #DDDDDD;
}
.net-banking .p-dropdown:not(.p-disabled).p-focus{
    border-color: #DDDDDD !important;
    box-shadow: none !important;
}
.net-banking .p-dropdown .p-dropdown-label.p-placeholder{
    color: #000;
    font-family: 'Lato';
}
.net-banking .p-icon{
    right: 10px !important;
    color: #000;
}
.Debit-card {
    padding: 0px 15px;
    font-family: 'Lato';
    color: #000;
    font-size: 14px;
}

.Debit-card input {
    height: 37px;
    border-radius: 5px;
}
.pro {
    display: flex;
    border: 1px solid #dddd;
    padding: 5px 15px;
    border-radius: 5px;
}

.pro input {
    width: 100%;
    border: none;
}
.Apply-prom {
    border: none;
    background: #908E8E;
    color: #ffd;
    padding: 0px 24px;
    border-radius: 5px;
}

.Debit-card-credit .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    font-size: 14px;
}
.Debit-card-credit .p-tabview .p-tabview-nav{
    background-color: #fff;
    border:none !important;
    border-width: 1px !important;
}
.Debit-card-credit .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background: #ffffff;
    border-color: #CC1821;
    color: #000;
    font-size: 14px;
}
.Debit-card-credit .p-tabview .p-tabview-nav .p-tabview-ink-bar{
    background-color: #CC1821 !important;

}
.Debit-card-credit .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none !important;
}
.paytype-item {
    display: flex;
    justify-content: space-between;
    background-color: #e7e7ec51;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 5px;
}
.paytype-item:hover {
    background-color: #cacad4;
}
.paytype-item-active{
    display: flex;
    justify-content: space-between;
    background-color: #cacad4;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 5px;
}