@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer {
  cursor: pointer;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.brand-img{
  height: auto;
  width: 150px;
}

.cinema-search .p-input-icon-right>i:last-of-type,
.p-input-icon-right>svg:last-of-type,
.p-input-icon-right>.p-input-suffix {
  top: 5px;
}

