// === primary theme color ==========
.bg-theme-dark1 {
  background-color: $dark-theme-color1;
}

.bg-theme-light1 {
  background-color: $light-theme-color1;
}

.text-theme-dark1 {
  color: $dark-theme-color1;
}

.text-theme-light1 {
  color: $light-theme-color1;
}

// === secondary theme color ==========

.bg-theme-dark2 {
  background-color: $dark-theme-color2;
}

.bg-theme-light2 {
  background-color: $light-theme-color2;
}

.text-theme-dark2 {
  color: $dark-theme-color2;
}

.text-theme-light2 {
  color: $light-theme-color2;
}

// ============================
.dark-theme-button{
  background-color: $dark-theme-color1 !important;
  color: white;
}

.light-theme-button{
  background-color: $light-theme-color1 !important;
  color: #000;
}

.bg-light-cinema{
  background-color: #c0e1fc !important;
}




