/* Top Bar */
.get-ticket-bar {
  background: #d8e9f7;
  height: 34px;
}

.bar-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0px 2px 0px;
}

.location-icon-movie-time {
  margin-right: 5px;
}

.get-ticket-location p {
  font-size: 14px;
  margin-bottom: 0px;
  color: #000;
  display: flex;
}

.get-ticket-location p a {
  color: #fff;
  margin-left: 2px;
  text-decoration: underline;
}

.get-login p a {
  color: #fff;
  font-size: 14px;
}

.get-login p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Top Bar */
.all-links ul li {
  float: left;
  padding: 6px 12px 6px 12px;
  margin-right: 3px;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center !important;
  cursor: pointer;
}

.new-design {
  margin-top: 10px;
}

.disable-navbar {
  pointer-events: none;
  opacity: 0.4;
}

.show-desktop-view .p-dropdown .p-dropdown-trigger {
  width: 20px;
}

.active-nav-cinema {
  color: #1968a8;
  font-weight: 800 !important;
  border-radius: 0px;
}

.nav-icons {
  margin-right: 4px;
}

.search-current .p-inputgroup-addon {
  background: none;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.search-current .p-inputtext {
  border-radius: 0px 8px 8px 0px;
  border-left: none;
  padding-left: 0px;
}

.before-login {
  border: none;
  height: 36px;
  padding: 10px 18px;
  /* background: #DCE2EF; */
  font-size: 9px;
  color: #000;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icons {
  margin-right: 6px;
}

.login-before {
  margin-right: 15px;
  padding-top: 5px;
}

.search-main-box {
  position: relative;
  width: 43px;
}

.notification-movietime img {
  margin-right: 14px;
}

.search-icon-main-nav {
  position: absolute;
  top: 0px;
  left: 9px;
}

.register-mobile {
  width: 33%;
}

.register-mobile .cross-icon {
  right: 0px !important;
  top: 15px !important;
  background: #dddddd;
  padding: 1px 9px;
}

/* .logos-cinema {
    height: 40px;
} */
/* img.logos-cinema {
    width: 75%;
} */

.nav-icons img {
  width: 17px;
  height: 14px;
  overflow: hidden;
}

/* .desktop-view-M li:hover {
    background-color: #F1F1F1;
    border-radius: 20px;
} */

/* .active-nav-cinema:hover {
    background: #CC1821 !important;
} */

.more-content ul li {
}

/* width */
.more-content::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
.more-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.more-content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.more-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.web-switch {
  display: flex;
  justify-content: center;
  background: #000;
  padding: 16px 0px;
}

.on-off p {
  margin-bottom: 0px;
  margin-right: 10px;
}

.website-switch-main {
  position: fixed;
  top: 3.6rem;
  color: #fff;
  /* display: flex; */
  /* justify-content: center; */
}

/* new-city */
.city-name {
  color: #000;
  font-size: 14px;
  border: none;
  background: transparent;
  text-decoration: underline;
}

.new_city {
  position: relative;
  display: inline-block;
}

.city_list {
  border-radius: 4px;
  display: none;
  position: absolute;
  min-width: 184px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #fff;
  left: -13px;
  top: 23px;
  overflow-y: scroll;
  height: 200px;
}

.city_list::-webkit-scrollbar {
  width: 5px;
}

.city_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.city_list::-webkit-scrollbar-thumb {
  background: #003873;
  border-radius: 10px;
}

.city_list::-webkit-scrollbar-thumb:hover {
  background: #003873;
}

.city_list a {
  color: black;
  padding: 4px 16px 4px 16px;
  text-decoration: none;
  display: block;
}

.city_list a:hover {
  color: #cc1821;
}

.new_city:hover .city_list {
  display: block;
}

.movietime-cities ul li {
  color: #000;
  cursor: pointer;
  list-style: none;
  padding: 9px 10px;
}

.get-ticket-location {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* new city */
.register {
  border: 2px solid #1968a8;
  padding: 6px 29px;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  background: #e52630;
  color: #fff;
  padding: 8px 39px;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.cinema-search .p-inputtext {
  background: transparent;
  border: none;
  font-family: "Lato";
  color: #000 !important;
  padding: 0px 35px;
  font-size: 16px;
  border: 1px solid #000;
}

.cinema-search .p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
  right: 0.75rem;
  color: #000000;
  border-left: 1px solid #000;
  padding-left: 23px;
}

.cinema-search input::placeholder {
  color: #000;
  font-size: 16px;
}

/* ///// */
.movietime-search-data-hide {
  display: none;
}

.movietime-search-data .cities-placed {
  color: #000 !important;
  text-decoration: underline;
  font-size: 14px;
  text-decoration: underline;
  font-family: Lato, sans-serif;
  display: flex;
  background-color: white !important;
  z-index: 9999;
  position: absolute;
}

.movietime-search-data {
  background: #fff;
  z-index: 999;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #d2d2d2;
}

.movietime-search-data ul li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #000;
}

.movietime-search-data ul li:hover {
  color: #e52630;
}
