.offer-slider .carousel.carousel-slider{
    overflow: inherit;
}
.offer-slider .carousel .slider-wrapper{
    border-radius: 15px;
}
.offer-slider .slider{
    background: transparent !important;
}
.offer-banner-blue h1 {
    font-size: 22.5px;
    margin: 0 !important;
}
.offer-sidebar h2 {
    font-size: 25.5px;
    font-weight: 800;
    color: #000;
    margin: 0;
}
.offer-bg {
    margin-bottom: 24px !important;
}
.offer-coupon h3 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px !important;
}

.offer-condition h4 {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10.5px !important;
}

.offer-condition ol li {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px !important;
}
.how-avail {
    background: #F9F9F9;
    border: 1px solid #DDD;
    padding: 15px 15px !important;
    border-radius: 10px;
}

.how-avail h4 {
    font-size: 12px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.how-avail ol {
    padding-left: 10px !important;
}

.how-avail ol li {
    font-size: 12px;
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 15px !important;
}
.offer-bg img {
    border-radius: 12px;
    object-fit: contain;
    overflow: hidden;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-slider .carousel .control-dots .dot {
    transition: opacity .1s ease-in;
    /* opacity: .3; */
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); */
    background: #000  !important;
    border-radius: 0;
    width: 40px;
    height: 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px !important;
}
.offer-slider .control-dots {
    bottom: -15px;
}
.offer-slider .carousel.carousel-slider .control-arrow:hover {
    background: none;
}
.now-showing-filter-cinema .p-tabview .p-tabview-nav {
    border-bottom: 2px solid #F1F1F1;
}
.gap-arrow .p-selectbutton .p-button.p-highlight:hover{
    border: 1px solid #ddd;
}
.gap-arrow .p-selectbutton .p-button.p-highlight{
    border-color: #ddd;
}
.gap-arrow .p-buttonset .p-button:last-of-type {
    padding: 4.4px 5px 4.4px 5px !important;
    border-radius: 6px;
}
.offer-first-img {
    margin-top: 18px !important;
}

.how-avail ul li {
    list-style: none;
    font-size: 12px;
    color: #000;
    font-weight: 500;
}
.offer-title {
    margin-bottom: 18px !important;
}
.all-offer-card .p-card .p-card-body {
    padding: 14px !important;
}
.view-details-home.offer {
    padding: 5px 16px !important;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.home-colse {
    font-family: poppins;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.equal-height-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.offer-equal-height{
  
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.home-colse {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 5px 10px !important;
    border-radius: 5px;
}


.vaild-offer-cinemas {
    display: flex;
    align-items: center;
}

.vaild-plaftorm-cineams h6 {
    font-size: 12px;
    margin-bottom: 0 !important;
    color: #000;
}

.vaild-plaftorm-cineams p {
    font-size: 14px;
    color: #000;
    margin-bottom: 0 !important;
}

.valid-date-cinema h6{
    font-size: 12px;
    margin-bottom: 0 !important;
    color: #000;
}


.valid-date-cinema p{
    font-size: 14px;
    color: #000;
    margin-bottom: 0 !important;
}

.divider-line {
    background: #000;
    width: 2px !important;
    height: 37px !important;
    margin: 0px 20px !important;
}
.about-offer ol li {
    font-family: 'Lato';
    color: #000;
    line-height: 40px !important;
}

.about-offer ol {
    padding-left: 0px !important;
}
.offer-reedmee-avail {
    padding: 27px 0px !important;
}

.offer-reedmee-avail .p-tabview .p-tabview-nav{
    background-color: #DCEFFF !important;
    border: none !important;

}
.offer-reedmee-avail .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background: transparent !important;
    border: none !important;
}
.offer-reedmee-avail .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #C0E1FC !important;
    color: #000;
    border-radius: 10px !important;
}
.offer-reedmee-avail .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none !important;
    border: none !important;
}
.offer-reedmee-avail .p-tabview .p-tabview-nav .p-tabview-ink-bar{
    background: transparent !important;
    border: none !important;
}
.offer-reedmee-avail .p-tabview-nav-content{
    background: #dcefff !important; 
}
.offer-details-banner img {
    width: 100%;
}
.offer-reedmee-avail .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    padding: 20px !important;
}