.bg-seatlayout {
    background-color: #fff;
  }
  
  .arrow-backs {
    margin-right: 10px;
  }
  
  .seat-active {
    color: #000000 !important;
    text-decoration: underline;
  }
  
  .prev {
    color: #000 !important;
  }
  
  .backs {
    color: #000 !important;
    margin-right: 40px !important;
  }
  
  .seat-bread ul {
    display: flex;
    align-items: center;
  }
  
  .seat-bread ul li {
    float: left;
    list-style: none;
    font-weight: 500;
    font-size: 10px;
    margin-right: 60px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .seat-bread ul li:not(:first-child, :last-child)::after {
    // content: url("../../assets/seatlayout/arrow_right.svg");
    position: absolute;
    margin-left: 22px;
  }
  
  .seat-bread {
    background: #dce2ef;
    padding: 14px 14px;
  }
  
  .seat-views {
    padding-left: 0px;
    background: #fff;
    padding-right: 0px;
  }
  
  .book-summary {
    padding-right: 0px;
    background: #F1F1F1;
  }
  
  .date-time {
    display: flex;
    align-items: center;
  }
  
  .seatlayout-time-wayed {
    padding-bottom: 2px;
  }
  
  .select-time .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none !important;
  }
  
  .select-time .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    /* background-color: #045292; */
  }
  
  .select-time .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff;
    border-color: #045292;
    font-size: 12px;
    background: #045292;
  }
  .date-time .p-tabview .p-tabview-nav li{
    font-size: 12px;
    display: flex;
  }
  
  .select-time {
    width: 83%;
  }
  
  .select-date {
    width: 18%;
    border-bottom: 2.2px solid #ddd;
    border-right: 2.2px solid #ddd;
    /* padding: 5px 5px; */
  }
  .three-view {
    height: 9px;
  }
  .select-date.align-self-center.desktop-seat-bread {
    height: 57px;
  }
  
  small.seatlayout-time-wayed {
    padding: 3px 0px;
    font-size: 11px;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 7px 7px;
    margin: 5px 10px 5px 10px;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #000;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 7px 7px;
    font-size: 12px;
    margin: 5px 10px 5px 10px;
    font-weight: 400;
  }
  
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #000;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 7px 7px;
    margin: 5px 10px 5px 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    font-size: 12px;
  
  }
  
  .select-date .p-dropdown .p-dropdown-label {
    font-family: "Poppins";
    font-weight: 700;
    color: #000;
    font-size: 12px;
  }
  
  .select-date .p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: "Poppins";
    color: #000 !important;
  }
  
  .select-date .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
  }
  
  .select-date .p-dropdown {
    border: none;
    border-radius: none !important;
    background: none;
  }
  
  .select-time .p-tabview .p-tabview-panels {
    padding: 0px;
  }
  
  /* .select-time .p-tabview .p-tabview-nav {
    border-bottom: 2px solid #ddd;
    background: #dceffe;
  } */
  
  .booking-summary {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: #dceffe;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8.25px 9px 8.25px 12px;
  }
  
  .all-summary {
    border-left: 1px solid #ddd;
    height: 100%;
    background: #dceffe;
  }
  
  .book-head h3 {
    font-size: 12.5px;
    font-weight:700;
    margin: 0px;
  }
  .timer-body{
    font-size: 14px;
    font-weight: 500;
  }
  .summary-movies-content ul li {
    color: #000;
    float: left;
    list-style: none;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 3px;
  }
  
  .summary-movies-content h5 {
    font-size: 12px;
    color: black;
    font-weight: 700;
    margin-bottom:5px;
  }
  
  .summary-movies-content p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 3px;
  }
  
  .summary-movies-content {
    display: inline-block;
  }
  
  .movies-summary {
    display: flex;
    padding: 11px 17px;
    border-bottom: 1px solid #000;
    background: #DCEFFF;
  }
  
  .summary-movies-content {
    display: grid;
    width: 78%;
  }
  
  .summary-movies-photo {
    margin-right: 14px;
    width: 22%;
  }
  
  .dot-c {
    height: 4px;
    width: 4px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }
  
  .no-seat-select img {
    margin-bottom: 14px;
  }
  
  .no-seat-select h5 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0px;
  }
  
  .no-seat-select p {
    font-size: 12px;
    font-weight: 600;
    color: #7a7a7a;
    margin-bottom: 0;
  }
  
  .select-seat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: #dceffe;
  }
  .summary-movies-photo img {
    height: 89px;
    overflow: hidden;
    width: 60px;
    object-fit: cover;
  }
  .no-seat-select {
    text-align: center;
  }
  
  /* main all seat */
  .expand-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
    padding: 0px 20px;
  }
  
  .expand-icon img {
    background: #fff;
    border: 1px solid #d6d6d6;
    padding: 8px;
    border-radius: 5px;
  }
  
  .all-seats table {
    width: 100%;
  }
  /* .all-seats::-webkit-scrollbar {
    width: 5px !important;
    height: 0px;
  } */
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seats-info {
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .available-box {
    border: 1px solid #1968A8;
    background-color: #fff;
    border-radius: 2px;
    width: 15px;
    height: 12px;
    margin-right: 11px;
  }
  
  .unavailable-box-cinema {
    background-color: #045292;
    width: 15px;
    height: 12px;
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .unavailable-box-cinema {
    background-color: #045292;
    width: 15px;
    height: 12px;
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .disable-person-box {
    background-color: #1968A8;
    width: 15px;
    height: 12px;
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 4px;
  }
  
  .occupied-box {
    background-color: #bfe1fc;
    width: 15px;
    height: 12px;
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .screen-viewa p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 600;
  
  }
  
  .screen-viewa {
    margin-top: -43px;
  }
  
  .available-text h6 {
    color: #808190;
    font-size: 11px;
    margin: 0;
    font-weight: 400;
    margin: 3px;
    font-family: 'Poppins';
  }
  
  .dialog-screen {
    margin-top: 30px;
  }
  
  .seat-current-cinema {
    width: 15px;
    height: 12px;
    border: 1px solid #045292;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #000;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-current-cinema:hover {
    background-color: #045292;
    border: 1px solid #045292;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seat-current-cinema {
    width: 15px;
    height: 12px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #000;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* margin-right: 14px; */
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-current-cinema:hover {
    background-color: #045292;
    border: 1px solid #045292;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seat-selected-cinema {
    width: 15px;
    height: 12px;
    background-color: #045292;
    border: 1px solid #045292;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* margin-right: 14px; */
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-selected-cinema:hover {
    background-color: #045292;
    border: 1px solid #045292;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seat-selected-cinema {
    width: 15px;
    height: 12px;
    background-color: #045292;
    border: 1px solid #045292;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* margin-right: 14px; */
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-selected-cinema:hover {
    background-color: #045292;
    border: 1px solid #045292;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seat-selected-disabled-person {
    width: 15px;
    height: 12px;
    background-color: #1968A8;
    border: 1px solid #1968A8;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* margin-right: 14px; */
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-selected-disabled-person:hover {
    background-color: #1968A8;
    border: 1px solid #1968A8;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seat-current-dperson {
    width: 15px;
    height: 12px;
    border: 1px solid #1968A8;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #1968A8;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* margin-right: 14px; */
    margin: 2px;
    font-family: 'Poppins';
  }
  
  .seat-current-dperson:hover {
    background-color: #1968A8;
    border: 1px solid #1968A8;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .seats-col-type{
    height: 12px;
    margin: 14px 0;
  }
  
  .seat-disable {
    width: 15px;
    height: 12px;
    background-color: #bfe1fc;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #7a7a7a;
    /* margin-right: 14px; */
    margin: 2px;
    border: 1px solid #e5e5e5;
    font-family: 'Poppins';
  }
  
  .seat_hidden{
    width: 15px;
    height: 12px;
    background-color: #e5e5e5;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: #7a7a7a;
    /* margin-right: 14px; */
    margin: 2px;
    visibility: hidden;
    /* visibility: visible; */
    font-family: 'Poppins';
    border: 1px solid transparent;
  }
  
  .seat-disabled-person {
    width: 15px;
    height: 12px;
    background-color: #1968A8;
    border-radius: 4px;
    /* margin-bottom: 14px; */
    margin: 2px;
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px;
    color: white;
    font-family: 'Poppins';
  }
  
  .all-seats table {
    text-align: center;
  }
  
  .seats_area_type {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins';
    
  }
  
  .seats_area_type {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .seat-info h6 {
    font-size: 11px !important;
    font-weight: 500 !important;
    color: #7a7a7a !important;
    margin-bottom: 7.5px;
    text-transform: uppercase;
  }
  .seat-info p {
    font-size: 11.5px;
    font-weight: 500;
    margin-bottom: 10.5px;
  }
  
  .select-seat-number {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .seat-number {
    padding: 8px 11px;
    background: #e0e6f1;
    display: flex;
    align-items: center;
    margin-right: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  
  .seat-number p {
    margin: 0;
  }
  
  .seat-info {
    padding: 11px 17px;
    margin-bottom: 3px;
    background: #DCEFFF;
  }
  
  .seat-number p {
    margin: 0;
    font-weight: 600;
    font-size: 11px;
    color: #000;
  }
  
  .ticket-prices {
    /* padding: 11px 9px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    margin: 10px 0px;
    background: #fff;
  }
  
  .ticket-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* padding: 11px 9px; */
  }
  
  .ticket-prices h6 {
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 11px 9px;
  }
  
  .tickets-count h6 {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
  }
  
  .ticket-price p {
    font-size: 12px;
      margin: 0;
      color: #000;
      font-weight: 600;
  }
  
  
  .bill-details {
    padding: 11px 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: #fff;
    border-bottom: 1px solid #CCC;
  }
  
  /* .food-pay-amount{
    height: 140px;
  } */
  
  .food-pay-amount::-webkit-scrollbar {
    width: 10px;
  }
  
  .bill-amount {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }
  
  .bill-details h6 {
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0px ;
  }
  
  .sub-total h6 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    color: #000;
    text-transform: capitalize;
  }
  
  .tax-fees h6 {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    color: #000;
  }
  .ticket-cancel-cross {
    top: 35px;
  }
  .seatlayout-date-wayed {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 2px;
  }
  .btn-proceeded {
    border: none;
    padding: 12px 0px;
    /* background: #045292; */
    /* color: #fff; */
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 100%
  }
  
  .grand-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .grand-total h6 {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  
  .grand-prices h6 {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  
  .seat_hide {
    pointer-events: none;
    visibility: hidden !important;
    width: 24px;
    height: 24px;
  }
  
  .seats-row.seats {
    display: flex;
    justify-content: center;
  }
  
  .seats-cinemas {
    display: flex;
    flex-direction: column;
  }
  
  .all-seats {
    padding: 0px 20px;
    text-align: center !important;
    /* overflow-x: scroll; */
    width: 100%;
    display: grid;
    margin-bottom: 90px;
  }
  .all-seats::-webkit-scrollbar-thumb {
    background: #888;
    width: 10px !important;
  }
  .seats-row tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    place-self: center;
  }
  .biil-taxes-line {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #CCC;
    margin: 20px 0px;
  }
  
  .all-grand {
    background: #fff;
    padding: 11px 9px;
    padding: 20px 9px 10px 9px;
    box-shadow: 0px -1px 0px #DDD;
  }
  
  .register-btn {
    text-align: center;
  }
  
  .ticket-cancel img {
    cursor: pointer;
  }
  
  .cross-icon {
    position: absolute;
    right: 35px;
    top: 16px;
  }
  
  .cross-icon .pi.pi-times {
    color: #000 !important;
    font-size: 17px;
    cursor: pointer;
  }
  
  .p-dialog-visible {
    display: flex;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(2px);
  }
  
  .ticke-cancel-modal {
    background: #ffff;
    border-radius: 10px;
  }
  
  .ticket-terms {
    padding-top: 24px;
  }
  
  .ticket-terms h1 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }
  
  .refund-food {
    background: #F8F8F8;
    padding: 22px 20px;
    margin-bottom: 8px;
    border: 1px solid #ECECEC;
    border-radius: 8px;
  }
  
  .refund-food h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #000;
  }
  
  .refund-movies {
    padding: 22px 20px;
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .refund-movies h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 20px;
  }
  
  .refund-movies p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .refund-voucher p {
    font-size: 13px;
    color: #6C6C6C;
    margin-bottom: 15px;
  }
  
  .view-terms p {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-decoration: underline;
  }
  
  .iconfood {
    margin-right: 14px;
  }
  
  .cancellation {
    margin-bottom: 20px !important;
  }
  
  .bill-amounts {
    display: flex;
    justify-content: space-between;
  }
  
  .seat-row-no.area {
    width: 14px;
    height: 14px;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13.5px;
    margin: 3px;
    font-family: 'Poppins';
  }
  
  /* main all seat  */
  
  /*=== cvp style start=====*/
  .offer-cvp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .offer-cvp-head h2 {
    font-size: 15px;
    margin-bottom: 0;
    color: #000;
    font-weight: 700;
  }
  
  .skip-cvp h6 {
    font-size: 12px;
    font-family: 'Poppins';
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .cinema-movie-times .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    box-shadow: none;
  }
  .show-times h5 {
    font-size: 10.5px;
    font-weight: 800;
    color: #007D23;
    font-family: 'Poppins';
    margin-bottom: 0px;
    text-align: center;
  }
  
  .show-times p {
    font-size: 9px;
    font-family: 'Poppins';
    margin: 0;
    color: #000;
  }
  
  .icon-subtitles {
    display: flex;
  }
  .date-active {
    padding: 8px 17.25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
  }
  .date-inactive {
    padding: 8px 17.25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
  }
  .movie-name h4 {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Poppins';
    color: #000;
    margin-bottom: 28.5px;
    display: flex;
    align-items: center;
  }
  .dot-cs {
    height: 4px;
    width: 4px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
  }
  .by-ByMovies {
    margin-right: 20px;
  }
  .showtimes-cinemas-name h3 {
    font-size: 10.5px;
    font-weight: 600;
    color: #000;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .showtimes-cinemas-name p {
    color: #000;
    font-size: 10.5px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .muted {
    color: #808190;
    font-weight: 400 !important;
    padding-right: 14px;
  }
  .show-bydates h4 {
    font-size: 12px;
    color: #000;
    font-weight: 700;
    font-family: 'Poppins';
    margin-bottom: 0px;
  }
  .gap-by-show{
    margin-bottom: 16.5px;
  }
  /* .syn {
    padding-right: 14px;
  } */
  .dot-ss {
    height: 4px;
    width: 4px;
    background-color: #000;
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
  }
  .showtimex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cinema-movie-times .icon-subtract {
    position: absolute;
    right: 16px;
    top: 21px;
  }
  .cinema-movie-times .icon-add {
    position: absolute;
    right: 16px;
    top: 25px;
  }
  
  /* cvp */
  .ticke-cancel-modal {
    width: 35%;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.03) !important;
    border-radius: 10px;
  }
  .ticke-cancel-modal .p-dialog-content{
    padding:15px  24px!important;
  }
  .offer-cvp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .offer-cvp-head h2 {
    font-size: 15px;
    margin-bottom: 0;
    color: #000;
    font-weight: 700;
  }
  
  .skip-cvp h6 {
    font-size: 12px;
    font-family: 'Poppins';
    margin-bottom: 0px;
    color: #545454;
    font-weight: 600;
  }
  .cvp-slider .carousel.carousel-slider {
    overflow: inherit;
  }
  .cvp-slider {
    margin-bottom: 18px;
  }
  .cvp-ticket {
    display: flex;
  }
  .cvp-quanity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .ticket-price-cvp h6 {
    color: #545454;
    font-family: 'Poppins';
    font-size: 12px;
    margin-bottom: 4px;
  }
  .ticket-price-cvp h5 {
    color: #000;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 0px;
  }
  .plus-cvp h6 {
    font-size: 21px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #000;
    padding: 0px 10px;
  }
  .cvp-equal h6{
    font-size: 21px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #000;
    padding: 0px 10px;
  }
  .cvp-apply {
    padding: 9px 30px;
    font-size: 13px;
    font-weight: 600;
  }
  .cvp-terms {
    display: flex;
    align-items: center;
  }
  .terms-cvp-head h6 {
    font-size: 12px;
    font-family: 'Poppins';
    color: #000;
    margin-bottom: 0px;
    text-decoration: underline;
  }
  .cvp-div {
    width: 100%;
    background: #EDE8E9;
    height: 1px;
    margin: 13px 0px;
  } 
  .heat-d {
    margin-right: 18px;
  }
  /*=== cvp style end=====*/
  .seats-row {
    display: flex;
    align-items: center;
  }
  
  .seat-bottom-btn {
    position: fixed;
    bottom: 0px;
    /* width: -webkit-fill-available; */
    width: 100%;
    /* display: inline-block; */
  }
  .all-grand.col-md-3 {
    padding-right: 20px;
  }
  
  
  .seat-terms-condition-flow {
    width: 50%;
  }
  .terms-conditins-flowseat ol li {
    font-family: 'Poppins';
    font-size: 14px;
    color: #000 !important;
    text-align: justify;
  }
  
  .accpet-btn-flow-seat {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px -1px 0px #ebebeb; */
    padding-top: 10px;
    width: 100%;
  }
  
  .reject-terms {
    padding: 9px 14px;
    border-radius: 8px;
    margin-right: 10px;
    font-family: 'Poppins';
    font-size: 13px;
    border: none;
    /* color: #000; */
  }
  .seat-terms-condition-flow .p-dialog-content{
    padding: 0px 0px 20px 0px;
  }
  
  .select-date {
    width: 18% ;
    height: 56px;
  }
  
  .seat-flow-custom-scroll {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    /* overflow-x: scroll; */
  }
  .cut-price {
    text-decoration: line-through;
    color: red;
  }
  .show-oofer-price {
    display: flex;
  }
  
  .cut-price-show {
    margin-right: 8px;
  }
  
  .seat-terms-condition-flow-seat .p-dialog-content{
    padding: -1px;
  }
  .popup-catagories {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .seat-layout {
    height: 400px;
    /* overflow-x: scroll;
    overflow-y: scroll; */
    padding: 16px 20px 20px;
    background: #fff;
  }
  
  .seat-layout::-webkit-scrollbar {
    width: 5px !important;
    height: 3px !important;
  }
  
  /* Track */
  .seat-layout::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .seat-layout::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .seat-layout::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .reject-terms-ok {
    border: none;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins';
  }
  .error-show-seat-catgories {
    padding: 12px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seat-current-cinema-dit {
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 2px;
  }
  
  .seat-current-cinema-dit {
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 2px;
  }
  
  .seatlayout-tnc>div>p {
    font-size: 12px;
  }
  
  .seatlayout-tnc {
    width: 100%;
    overflow-y: scroll;
    height: 60vh;
  }
  
  .seatlayout-tnc::-webkit-scrollbar {
    width: 10px;
  }
  .seatlayout-tnc::-webkit-scrollbar-track {
    background: rgb(212, 212, 212); 
  }
  
  .seatlayout-tnc::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .seatlayout-tnc::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Add banner */
  .movie-time-banner{
    /* background: url(../../assets/payment/banner.jpg); */
    height: 350px;
    background-size: cover;
  }
  .banner-show-movie {
    position: relative;
  }
  .movie-times-details {
    background: #fff;
    box-shadow: 0px 4px 4px #00000047;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: -25px;
    width: 100% ;
  }
  
  .movie-times-details h2 {
    font-size: 32px;
    font-weight: 900;
  }
  .movie-time-ua {
    display: inline-block;
  }
  .movie-time-ua ul li {
    list-style: none;
    float: left;
    margin-left: 0px;
    font-size: 14px;
  }
  .movie-time-ua ul li::after {
    content: "|";
    background: #000;
    display: inline-block;
    transform: rotate(180deg);
    margin: 0px 8px;
    font-size: 5px;
    padding-top: 4px;
  }
  .movie-times-details p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  .seat-movie-time {
   display: inline-block;
   margin-bottom: 0px;
  }
  .seat-movie-time ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
    background: #dcefff;
    padding: 4px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: 600;
  }
  .ptb-55{
    padding:55px 0px;
  }
  .screen-its p {
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  /* Add banner */
  
  .back-arrow img {
    background: #F7F7F7;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .Next-arrow img {
    background: #DCEFFF;
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .Next-arrow {
    text-align: right;
  }
  
  .seat-info-cinema {
    background: #DCEFFF;
    padding: 20px;
    border-radius: 12px;
  }
  
  .cinema-select-seat h6 {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 500;
  }
  
  .cinema-select-seat p {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .seat-number-cinemas ul li {
    list-style: none;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    background: #C0E1FC;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 5px;
  }
  .tip {
    margin-left: 5px;
    cursor: pointer;
  }
  
  .grand-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px;
  }
  
  .grand-content p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .grand-price h2 {
    margin-bottom: 0;
  }
  .price-right {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .grand-content {
    padding-right: 57px;
  }
  .divider-line {
    border-right: 1px solid #1968A8;
  }
  .select-seat-details {
    position: relative;
  }
  
  .cinema-book-summary {
    position: fixed;
    width: 90%;  
    bottom: 0px;
  }
  .ticket-cancel {
    position: absolute;
    right: 25px;
    bottom: 69px;
    cursor: pointer;
  }
  
  
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  ul.list-item>li {
    padding: 7px 20px;
    clear: both;
    text-align: left;
    width: 100%;
    float: left;
    font-weight: 300;
    font-size: 14px;
    color: #787878;
    list-style: none;
  }
  ul.list-item>li>span {
    float: right;
  }
  ul.list-item>li.bottompadding {
    margin-bottom: 3px;
    /* border-bottom: 2px solid #efefef; */
  }
  .dropdown-content {
    position: absolute;
    left: -275px;
    background-color: #DCEFFF;
    width: 315px;
    z-index: -5;
    margin-bottom: -3px;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    visibility: hidden;
    bottom: -30px;
    transition: all .4s ease;
    z-index: 999;
    max-height: 400px;
    min-height: auto;
    overflow-y: scroll;
  }
  
  .dropdown-content::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
  }
  
  .dropdown-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .dropdown-content::-webkit-scrollbar-thumb {
    background: #1968A8; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1968A8; 
  }
  
  @media (max-width: 767px) {
    .dropdown-content {
        width:80vw;
        box-shadow: 0 0 55px #000;
        right: -42px;
        left: auto;
        bottom: -17px
    }
  }
  
  @media screen and (max-device-width: 767px) {
    .dropdown-content {
        width:70vw;
        right: -20px
    }
  }
  
  @media screen and (max-device-width: 576px) {
    .dropdown-content {
        width:62vw;
        right: -10px
    }
  }
  
  @media screen and (max-device-width: 375px) {
    .dropdown-content {
        width:62vw;
        right: -40.5%
    }
  }
  
  @media screen and (max-device-width: 360px) {
    .dropdown-content {
        width:62vw;
        right: -40.5%
    }
  }
  
  @media screen and (max-device-width: 320px) {
    .dropdown-content {
        width:66.5vw
    }
  }
  
  .dropdown-content.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-79px)
  }
  .dropdown-content:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(-79px)
  }
  
  @media (max-width: 767px) {
    .dropdown-content.active {
        transform:translateY(-50px);
        box-shadow: none
    }
  }
  